html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;
  font-family: 'PixelUI', monospace
}

button {
  font-family: 'PixelUI', monospace;
}

@font-face {
  font-family: 'PixelUI';
  src: url('/fonts/PressStart2P-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}